:root {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--navy: rgb(38, 22, 118);
	--navy-transparent: rgba(38, 22, 118, 0.7);
	--dark-navy: rgb(0,20,121);
	--dark-navy-transparent: rgba(0,20,121, 0.83);
	--blue: rgb(36, 98, 255);
	--blue-transparent: rgba(36, 22, 118, 0.5);
	--dark-blue: rgb(52,74,186);
	--dark-blue-transparent: rgba(52,74,186, 0.83);
	--white: rgb(255, 255, 255);
	--pink: rgb(254, 113, 254);
	--light-blue: rgb(113, 153, 255);
	--black: rgb(0, 0, 0);
}

@font-face {
	font-family: "MouseMemoirs-Regular";
	src: url("./fonts/MouseMemoirs-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	font-family: "MouseMemoirs-Regular", sans-serif;
}

#root {
	width: 100%;
	height: 100vh;
}
