:root {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--very-dark-navy: rgb(20,14,102);
	--navy: rgb(38, 22, 118);
	--navy-transparent: rgba(38, 22, 118, 0.7);
	--dark-navy: rgb(0,20,121);
	--dark-navy-transparent: rgba(0,20,121, 0.83);
	--blue: rgb(36, 98, 255);
	--blue-transparent: rgba(36, 22, 118, 0.5);
	--dark-blue: rgb(52,74,186);
	--dark-blue-transparent: rgba(52,74,186, 0.83);
	--white: rgb(255, 255, 255);
  --white-transparent-50: rgba(255,255,255,.5);
	--pink: rgb(254, 113, 254);
	--light-blue: rgb(113, 153, 255);
	--light-blue-transparent: rgba(113, 153, 255, 0.5);
	--black: rgb(0, 0, 0);
	--purple: rgb(157, 45, 245);
  --light-purple: rgb(136, 125, 192);
  --light-purple-transparent: rgba(157, 45, 245, .3);
	--dark-graphite: rgb(36, 48, 65);
  --baby-blue: rgb(103, 182, 255);
}

@font-face {
	font-family: "MouseMemoirs-Regular";
	src: url("./fonts/MouseMemoirs-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: "MouseMemoirs-Regular", sans-serif;
}

#root {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Mobile (small devices) */
@media (max-width: 600px) {
  #root {
    background-image: url("./assets/background-mobile.svg");
  }
}

/* Tablet (medium devices) */
@media (min-width: 601px) and (max-width: 900px) {
  #root {
    background-image: url("./assets/background-tablet.svg");
  }
}

/* Desktop (large devices) */
@media (min-width: 901px) {
  #root {
    background-image: url("./assets/background-desktop.svg");
  }
}
