.GamePlay {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
  }

  &__main {
    margin-bottom: 10vh;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
