.HowToPlayView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    justify-content: space-between;
    width: 90%;
    padding: 0 1vw;
    max-width: 1400px;

    &__back {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background: linear-gradient(
        to bottom,
        var(--pink),
        var(--light-blue) 70%
      );
      box-shadow: inset 0px -8px 0px 2px var(--light-purple-transparent);

      svg {
        width: 2.2rem;
        height: 2.2rem;
      }
    }

    h1 {
      position: relative;
      margin: 0 auto;
      font-size: 8rem;
      color: transparent;
      z-index: 2;

      &:before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        font-size: 9rem;
        color: var(--dark-graphite);
        white-space: nowrap;
        -webkit-text-stroke: 12px var(--dark-graphite);
      }

      &:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        font-size: 9rem;
        font-weight: 400;
        white-space: nowrap;
        color: transparent;
        background: -webkit-linear-gradient(
          var(--baby-blue) 40%,
          var(--white) 60%
        );
        -webkit-background-clip: text;
        z-index: 1;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  main {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 90%;
    padding: 0 1vw;
    max-width: 1400px;
  }
}

/* Tablet (medium devices) */
@media (min-width: 601px) and (max-width: 1000px) {
  .HowToPlayView {
    &__header {
      &__back {
        width: 4rem;
        height: 4rem;
      }

      h1 {
        font-size: 6rem;

        &:before,
        &:after {
          font-size: 6rem;
        }
      }
    }

    main {
      flex-direction: column;
      justify-content: unset;
      align-items: center;
    }
  }
}

/* Mobile (small devices) */
@media (max-width: 600px) {
  .HowToPlayView {
    padding-top: 2rem;
    align-items: center;
    justify-items: center;

    &__header {
      margin-bottom: 1rem;

      &__back {
        width: 3rem;
        height: 3rem;

        svg {
          width: 1.6rem;
          height: 1.6rem;
        }
      }

      h1 {
        font-size: 4rem;

        &:before,
        &:after {
          font-size: 4rem;
        }
      }
    }

    main {
      flex-direction: column;
      justify-content: unset;
      align-items: center;
      height: max-content;
    }
  }
}
