.HowToPlayView {
  padding: 5rem;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    
    &__back {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem; 
      height: 5rem;
      border-radius: 50%;
      background: linear-gradient(to bottom, var(--pink), var(--light-blue) 70%);
      box-shadow: inset 0px -8px 0px 2px var(--light-purple-transparent);

      svg {
        width: 2.2rem;
        height: 2.2rem;
      }
    }
    

    h1 {
      margin: 0 auto;
      font-size: 8rem;
      font-weight: 700;
      color: transparent;
      // -webkit-text-stroke: 6px var(--dark-graphite);
      background: -webkit-linear-gradient(var(--light-blue), var(--white));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;

      &:before {
        content: attr(data-text);
        color: var(--dark-graphite);
        width: 120%;
        height: 120%;
        display: inline-block;
        line-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  main {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}
