@mixin titleWithShadow($font-size,
  $text,
  $text-color1,
  $text-color2,
  $shadow-color) {
  font-size: $font-size;
  color: transparent;

  &:before {
    content: attr($text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: $font-size;
    color: $shadow-color;
    white-space: nowrap;
    -webkit-text-stroke: 10px $shadow-color;
  }

  &:after {
    content: attr($text);
    position: absolute;
    top: 0;
    left: 0;
    font-size: $font-size;
    font-weight: 400;
    white-space: nowrap;
    color: transparent;
    background: linear-gradient(to bottom,
        $text-color1 0%,
        $text-color1 35%,
        $text-color2 100%);
    background-clip: text;
    z-index: 1;
    -webkit-text-fill-color: transparent;
  }
}

.BaseModal {
  &__container {
    position: fixed;
    inset: 0;
    z-index: 1000;
  }

  &--backdrop {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: var(--dark-blue-transparent);
  }

  &__header {
    &__title {
      position: relative;
      z-index: 2;
      margin: 0 auto;
      @include titleWithShadow(8rem,
        data-text,
        var(--baby-blue),
        var(--white),
        var(--dark-graphite));
    }
  }

  z-index: 2;
  width: 40vw;
  height: 50vh;
  min-width: 40rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 15px 5px 0px 5px;
  border-color: var(--blue);
  border-radius: 60px 60px 80px 80px;
  background: linear-gradient(to bottom,
    var(--dark-blue) 5%,
    var(--dark-navy-transparent));

  &:before {
    content: "";
    display: block;
    width: 101%;
    height: 102%;
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%);
    border-style: solid;
    border-width: 0px 3px 15px 3px;
    border-color: var(--very-dark-navy);
    border-radius: 60px 60px 90px 90px;
  }

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%);
  }

  main {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
}

/* Tablet (medium devices) */
@media (min-width: 601px) and (max-width: 900px) {
  .BaseModal {
    width: 80vw;
    height: 60vh;
    min-width: unset;
    min-height: unset;
  }
}

/* Mobile (small devices) */
@media (max-width: 600px) {
  .BaseModal {
    width: 90vw;
    height: 60vh;
    min-width: 20rem;
    min-height: 10rem;
  }
}
