.BaseModal {
  width: 40vw;
  height: 50vh;
  min-width: 40rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 15px 5px 0px 5px;
  border-color: var(--blue);
  border-radius: 60px 60px 80px 80px;
  background: linear-gradient(to bottom,
      var(--dark-blue) 5%,
      var(--dark-navy-transparent));

  &:before {
    content: "";
    display: block;
    width: 101%;
    height: 102%;
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%);
    border-style: solid;
    border-width: 0px 3px 15px 3px;
    border-color: var(--very-dark-navy);
    border-radius: 60px 60px 90px 90px;
  }

  header {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%);
  }

  main {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


/* Mobile (small devices) */
@media (max-width: 600px) {
  .BaseModal {
    width: 90vw;
    height: 60vh;
  }
}

/* Tablet (medium devices) */
@media (min-width: 601px) and (max-width: 900px) {
  .BaseModal {
    width: 80vw;
    height: 60vh;
  }
}
