
.HomeModal {
  main {
    justify-content: flex-end;
  }

  &__buttons-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;

    &__circle-play-button {
      width: 13rem;
      height: 13rem;
      border-radius: 50%;
      border-color: var(--dark-graphite);
      border-style: solid;
      border-width: 0px 3px 10px 3px;
      background: linear-gradient(to bottom, var(--pink), var(--light-blue) 70%);
      box-shadow: inset 0px -8px 0px 5px var(--purple);
    }

    &__how-to-play {
      width: 15rem;
      height: 3.5rem;
      border-radius: 60px;
      background-color: var(--blue);
      color: var(--white);
      font-family: "MouseMemoirs-Regular";
      font-size: 2rem;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 2px;
      box-shadow: inset 0px 4px 0px 2px var(--light-blue-transparent);
      border-color: var(--very-dark-navy);
      border-style: solid;
      border-width: 1px 2px 5px 2px;
    }
  }
}
