
.HomeModal {
  main {
    justify-content: flex-end;
  }

  &__buttons-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;

    &__circle-play-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 13rem;
      height: 13rem;
      border-radius: 50%;
      border-color: var(--dark-graphite);
      border-style: solid;
      border-width: 0px 3px 10px 3px;
      background: linear-gradient(to bottom, var(--pink), var(--light-blue) 70%);
      box-shadow: inset 0px -8px 0px 5px var(--purple);

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    &__how-to-play {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      width: 15rem;
      height: 3.5rem;
      border-radius: 60px;
      background-color: var(--blue);
      color: var(--white);
      font-family: "MouseMemoirs-Regular";
      font-size: 2rem;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 2px;
      box-shadow: inset 0px 4px 0px 2px var(--light-blue-transparent);
      border-color: var(--very-dark-navy);
      border-style: solid;
      border-width: 1px 2px 5px 2px;

      &:hover {
        cursor: pointer;
        box-shadow: inset 0px 2px 0px 1px var(--white-transparent-50);
        background-color: var(--light-blue);
        transform: scale(1.1);
      }
    }
  }
}

/* Mobile (small devices) */
@media (max-width: 600px) {
  .HomeModal {
    main {
      justify-content: center;
    }
  }
}

/* Tablet (medium devices) */
@media (min-width: 601px) and (max-width: 900px) {
  .HomeModal {
    main {
      justify-content: center; 
    }
  }
}
